
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

:root{
    --clr: #e62b56;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5f5a5a;
}

.navig{
    width: 290px;
    height: 55px;
    background-color: #dbcece;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}

.navig>ul{
    display: flex;
    width: 350px;
    margin-top: 10px;
}

.navig>ul>li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1
}

.navig>ul>li>a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500
}

.navig>ul>li>a>.icn{
    width: 35px;
    height: 35px;
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
    color: #e62b56;
}

.navig>ul>li:hover>a>.icn{
    transform: translateY(-45px);
}

.navig>ul>li>a>.txt{
    position: absolute;
    color: #e62b56;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navig>ul>li:hover>a>.txt{
    opacity: 1;
    transform: translateY(10px);
}